@{
    ViewData["Title"] = "Occupancy Report";
}

<div class="container mt-4">

    <h3 class="text-navy fw-bold mb-4">Occupancy Overview</h3>

    <div class="row g-3 mb-4">

        <!-- Total Units -->
        <div class="col-md-4">
            <div class="card-custom p-3 shadow-sm border-top border-navy border-3">
                <small class="text-muted">Total Units</small>
                <h3 class="text-navy fw-bold">150</h3>
            </div>
        </div>

        <!-- Occupied -->
        <div class="col-md-4">
            <div class="card-custom p-3 shadow-sm border-top border-navy border-3">
                <small class="text-muted">Occupied Units</small>
                <h3 class="text-navy fw-bold">124</h3>
            </div>
        </div>

        <!-- Vacant -->
        <div class="col-md-4">
            <div class="card-custom p-3 shadow-sm border-top border-navy border-3">
                <small class="text-muted">Vacant Units</small>
                <h3 class="text-navy fw-bold">26</h3>
            </div>
        </div>

    </div>


</div>